.team-section{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.member {
    flex-basis: 31%;
    position: relative;
    overflow: hidden;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,15,152,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.caption p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 0 20px;
}

.member:hover .caption{
    opacity: 1;
    padding-top: 0;
}