.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 60px;
}

.about-left{
    flex-basis: 40%;
    position: relative;
}

.about-right{
    flex-basis: 56%;
}

.aboutimg{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.playicon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s;
}

.playicon:hover{
    transform: translate(-50%, -50%) scale(1.1);
}

.about-right h3{
    font-weight: 600;
    font-size: 16px;
    color: #212EA0;
    margin-bottom: 30px;
}

.mission-vision{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mission, .vision{
    display: flex;
    flex-direction: column;
}

.mission h4, .vision h4{
    font-size: 32px;
    color: #000F38;
    font-weight: 600;
    margin-bottom: 15px;
}

.mission p, .vision p{
    color: #676767;
    line-height: 1.6;
    font-size: 16px;
}

/*media query*/

@media (max-width:800px) {
    .about{
        flex-direction: column;
        gap: 30px;
    }

    .about-left{
        flex-basis: 100%;
        order: 2;
    }
    
    .about-right{
        flex-basis: 100%;
        order: 1;
    }
    
    .mission h4, .vision h4{
        font-size: 24px;
    }
    
    .mission p, .vision p{
        font-size: 14px;
    }
}