.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.contact-col{
    flex-basis: 48%;
    color: #676767;
}

.contact-col h3{
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #000080;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col p{
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 16px;
    max-width: 450px;
    list-style: 1.3;
}

.contact-col ul{
    list-style: none;
    padding: 0;
}

.contact-col ul li{
    margin: 20px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
}

.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}

.contact form input, .contact textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}

.contact-col span{
    display: block;
    margin: 20px 0;
}