nav{
    width: 100%;
    /*background: #333;*/
    color: #fff;
    padding: 5px 0;  
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 15;
}

.logo{
    width: 120px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 20px;
}

.logo:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 3px 12px;  
    font-size: 13px;  
}

.dark-nav{
    background: #212EA0;
    transition: 0.5s;
}

.menuicon{
    display: none;
}


/*media query*/

@media (max-width: 1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}

@media (max-width: 840px){
    nav{
        padding: 10px 20px;
    }
    nav ul {
        position:fixed;
        top: 0;
        bottom: 0;
        right:0px;
        background: #212EA0;
        z-index:-1;
        width: 160px;
        padding-top: 60px;
        transition: 0.5s;
    }

    nav ul li{
        display: block;
        margin: 20px 30px;
        font-size: 12px;
    }

    .logo{
        width: 80px;
        margin-left: 0;
    }

    .menuicon{
        display: block;
        width: 25px;
        cursor: pointer;
    }
    
    .hidemobilemenu{
        right: -160px;
    }
}