nav{
    width: 100%;
    /*background: #333;*/
    color: #fff;
    padding: 5px 0;  
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 15;
}

.logo{
    width: 70px; 
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 3px 12px;  
    font-size: 13px;  
}

.dark-nav{
    background: #212EA0;
    transition: 0.5s;
}