.members{ 
    width: 100%; 
    min-height: 100vh; 
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)),url('../../assets/hero.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center;  
} 
 
.members-text{ 
    max-width: 800px; 
    text-align: center; 
} 
 
.members-text h1{ 
    font-size: 60px; 
    font-weight: 600; 
} 
 
.members-text p{ 
    max-width: 700px; 
    margin: 10px auto 20px; 
    line-height: 1.4; 
}

/*media query*/

@media(max-width:850px){
    .members-text h1{
        font-size: 40px;
    }
}
@media(max-width:650px){
    .members-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .members-text p{
        font-size: 14px;
        margin: 15px;
    }
}

/*media query*/

@media(max-width: 650px){
    .members{
        flex-direction: column;
    }

    .member{
        flex-basis: 100%;
        margin: 20px;
    }
}